html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    width: 99%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


header{
    margin: 2% 3%;
}

.frame{
    position: fixed;
    border: 6px solid yellow;
    width: 97%;
    margin-left: 1%;
    margin-top: 0%;
    height: 93.5%;
    box-sizing: border-box;
}



h1{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 7%;
}

p{
    color: yellow;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

form{
    text-align: center;
    margin-top: 65px;
}

.form_input{
    display: inline;
    vertical-align: center;
    padding: 20px 10px 20px 10px;
    border: 5px solid yellow;
}

input, button{
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: none;
    width: 15%;
}

input::placeholder{
    color: lightgray;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
}


button{
    padding-right: 10%;
    font-size: 14px;
    font-style: bold;
    border-left: 3px yellow solid;
}


.network{
    position: absolute;
    display: flex;
    top: 92%;
    left: 2%;
    background-color: rgba(0,0,0,0.1);
}

.follow{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.facebook img{
    width: 21px;
    height: 21px;
    margin-left: 24px;
}

.instagram img{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

.twitter img{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}